<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="https://github.com/login/oauth/authorize?client_id=f77f000b2dfc717ade2a&redirect_uri=http://extending.loc/app_dev.php/github_login">
            Login with Github
        </a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
